{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

    <!--b>Todo</b>
    <p>Add specific Experiment instructions here, this will only be shown before round 1!</p-->
      
    <b>Instructions</b>
    <p>
        Please read the instructions carefully. You cannot come back once you start the game.
        <!--Your combined performance in the two main rounds determines your compensation. -->
        <br>
        <br>
        In the following you will go through a simulated game, where you will be able to purchase six different goods (A, B, C, D, E, F) in the first period
        and will be making buy and sell decisions in every subsequent period. In total, the game consists of eleven periods. You will receive a share of the final value
        of all your goods as payment for your participation in addition to your fixed basic payment.
        <br>
        <br>
        While playing the game you can follow the price development of the six goods in Area 1 (screenshot below).
        In Area 2 you can keep track of the amount of each good you own ("Shares") as well as their total value ("Share Value").
        Additionally, you observe your current amount of cash as well as the overall value of your portfolio, consisting of all your goods ("Total").
        <br>
        At the beginning, you will receive an endowment of 10,000€, which you may use to either buy goods or store it in the form of cash.
        When you hold cash you will not earn any return. The quantity of goods you purchase or sell each period has to be feasible in terms of your budget
        and the minimum number of goods you can hold is zero. If you have any cash left at the end of the game, it will be counted automatically to the total value
        of goods in your possession.
        <br>
        In the first period you find the initial purchase prices for the goods in Area 4.
        Please enter the amount of each good you want to buy and press the corresponding "Buy" button on the right. When you are finished,
        please press "Play" in Area 3 to move on to the next period. Then you can observe next period's prices, again enter the amount of goods you want
        to buy or sell, press the corresponding "Buy" or "Sell" buttons and by pressing "Play" proceed to the next period. Please repeat the procedure
        above until you reach the last period. At the end you will be able to get back to the survey by pressing "Next".
        <br>
        <br>

    </p>

    <img src="{% static "images/Grafik-6.PNG" %}" alt="Trading Interface" width=100%>

    <!--p><i>To change this page's content adjust the html of the /ZTS/InstructionPage.html file.</i></p-->
        <br>
        <br>
        <br>
    <b>Information on price development</b>
    <p>
        Prices will change every period, while each good has an individual fixed probability of rising and falling during the whole experiment.
        We utilize the following probabilities:
        <br>
        <br>
        35%, 45%, 50%, 50%, 55%, 65%
        <br>
        <br>
        It is unknown which probability refers to which good. To get an idea of their dynamics,
        their price developments over the first three periods are presented to you below.
        <br>
        <br>

    </p>

    <img src="{% static "images/Chartt-3.png" %}" alt="Trading Interface" width=100%>

    <p>

    </p>
    {% next_button %}

{% endblock %}
