{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <p>

        You have finished the trading game. Thank you for your time!
        In order to continue with the survey, please click on the following link:
        <a href="https://qfreeaccountssjc1.az1.qualtrics.com/jfe/form/SV_3Wp2O6Sjo5GICKW">https://qfreeaccountssjc1.az1.qualtrics.com/jfe/form/SV_3Wp2O6Sjo5GICKW</a>

        <br>You will be redirected to our qualtrics page


    </p>
    <br><br>

{% endblock %}

{% block styles %}
<style>
	.selectable{
		-webkit-touch-callout: all; /* iOS Safari */
		-webkit-user-select: all; /* Safari */
		-khtml-user-select: all; /* Konqueror HTML */
		-moz-user-select: all; /* Firefox */
		-ms-user-select: all; /* Internet Explorer/Edge */
		user-select: all; /* Chrome and Opera */

		background-color: rgb(245, 245, 245);

		border-style: solid;
		border-width: 1px;
		border-radius: 4px;
		border-color: rgb(204, 204, 204);

		min-width: 100%; 
		
		cursor: text; 
	}

</style>
{% endblock %}

